* {
  padding: 0;
  margin: 0;
  border: 0;
}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}


nav,
footer,
header,
aside {
  display: block;
}


html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


input,
button,
textarea {
  font-family: inherit;
}


input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}


body{
    font-family: Arial;
}



.list-1{
    margin: 30px 30px 50px 30px;
}

.list-1 li{
    margin: 15px;
    font-size: 20px;
}

.list-1 li:nth-child(2){
  color: #00ff00; 
    text-decoration: line-through;
}

.list-1 li:first-child{
    font-weight: 700;
}



.list-1 li:nth-child(3){
    font-style: oblique;
    font-size: 30px;
    font-weight: normal;
}

.list-1 li:last-child{
    text-decoration: underline;
    text-shadow: 1px 1px 2px #000;
    font-size: 25px;
    text-transform:uppercase;
}


.list-1 li:before{
    content: '✔';
    margin: 0 10px 0 0;
   display: inline-block;
font-family: arial;
    font-size: 30px;
}

.list-2{
    margin: 30px;
    font-size: 25px;
line-height: 35px;
    width: 450px;
}

.list-2 li:before{
     content: '✔';
    margin: 0 10px 0 0;
    display: inline-block;
}


.list-2 li:hover{
   color: red;
}

.list-2 li:nth-child(3):hover::before{
    content: '✖	';
   color: red;
}


.list-2 li:nth-child(1):hover::before{
    content: '⇔	';
   color: #00ff00;
}

.text{
    font-size: 30px;
    margin: 30px;
}

.inputtext{
    border: 1px solid #000;
    height: 120px;
    width: 300px;
    border-radius: 15px;
}


 .inputtext:focus{
    box-shadow: 2px 2px 58px rgb(0, 252, 227,1)
}

.subbutton{
        margin: 0 0 20px 0;
    width: 200px;
    height: 60px;
    border-radius: 25px;
    border: 1px solid rgba(179, 73, 211,0.5);
    font-size: 20px;
    padding: 5px;
    background-color: rgba(179, 73, 211,0.5);
    color: #3e3e3e;
    box-shadow: 5px 5px 5px #82dde5;
}

.subbutton:hover{
    background-color: rgba(179, 73, 211,0.8);
    color: white;
    box-shadow: 3px 3px 1px #82dde5;
   transition: 0.4s;
}

.subbutton:not(:hover){
     transition: 0.4s;
}


.resetbutton{
  border: 1px solid #000;
    height: 50px;
    width: 150px;
    font-size: 20px;
    border-radius: 20px;
    background-color: rgba(170, 168, 168, 0.8); 
    box-shadow: 1px 8px 5px rgba(53, 53, 53, 0.43)
}

.resetbutton:hover{
    background-color: #000;
    color: white;
    transition: 0.4s;
    box-shadow: 1px 8px 5px rgba(53, 53, 53, 1)
}


.resetbutton:not(hover){
   transition: 0.4s; 
}

.buttons{
    float: right;
    margin: 0 1300px 0 0;
}


.block{
    margin: 0 0 0 50px;
}






